.home-bg-container {
  padding: 10px;
  background-color: rgb(209, 253, 224);
}


.taps {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 25px;
}

.image {
  width: 50%;
  margin-right: 10px;
}

.heading {
  text-align: center;
  color:rgb(56, 148, 3);
}

.desc-container {
  display: flex;
}

.home-desc-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-heading {
  color: blueviolet;
  text-align: center;
}

.desc {
  color: gray;
  font-family: "Roboto";
  line-height: 25px;
  width: 70%;
  
}

.home-btn-container{
  text-align: center;
}

.button {
  background-color: blue;
  padding: 10px;
  border: 0px;
  color: white;
  border-radius: 8px;
  text-align: center;
}

.listStyle {
  font-size: 20px;
  font-weight: bold;
}

.overview {
  border-bottom: 5px solid rgb(56, 148, 3);
}

.icons {
  font-size: 30px;
  margin: 10px;
}

.footer-bg-container {
  background-color: gray;
  padding: 10px;
  margin-top: 0px;
  text-align: center;
}

.contact-us {
  font-size: 20px;
  font-family: "roboto";
}

.form-container {
  background-color: white;
  background-size: cover;
  height: 500px;
  padding: 10px;
  border: 1px solid black;
}

.form-container-2{
  border:1px solid black;
  width: 60%;
}

.enter-detail-heading{
  font-weight: 500;
  font-family: "Roboto";
  text-align: center;
  font-size: 25px;
  color: rgb(214, 252, 4);;
}

.form-items{
   text-align: center;
}

.form-item-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.inputEle {
  height: 25px;
  width: 400px;
  margin-left: 20px;
}

.label {
  font-size: 18px;
  font-family: "Roboto";
  margin-right: 10px;
  font-weight: 200;
  color: rgb(214, 252, 4);
}


.form-heading {
  text-align: center;
  color: rgb(214, 252, 4);
}

.submit-btn {
  background-color: rgb(214, 252, 4);;
  padding: 10px;
  border: 0px;
  color: black;
  border-radius: 8px;
  margin-top: 5px;
}

.cards-container {
  background-color: rgb(58, 221, 250);
  margin: 0px;
  padding: 10px;
}

.cards-heading {
  text-align: center;
}

.item-detail-container {
  background-color: wheat;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.card-item-heading {
  font-size: 20px;
}

.card-img {
  width: 100%;
}

.watch-img {
  height: 200px;
}

.card-item-para {
  font-size: 15px;
  font-family: "Roboto";
  line-height: 25px;
}

.card-display {
  display: flex;
}

.card-item-btn {
  background-color: blue;
  padding: 10px;
  border: 0px;
  color: white;
  border-radius: 8px;
  margin-top: 20px;
}

.copyrights {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.link {
  color: rgb(110, 22, 211);
}

@media (max-width: 700px) {
  .heading {
    text-align: center;
    color: rgb(105, 120, 187);
  }

  .card-heading {
    color: violet;
    text-align: center;
    font-size: 20px;
  }

  .desc {
    color: rgb(61, 60, 60);
    font-family: "Roboto";
    font-size: 15px;
    font-family: "Roboto";
  }

  .listStyle {
    font-size: 15px;
    font-weight: bold;
    margin: 5px;
  }


}


@media (min-width: 300px) and (max-width: 500px) {
  .card-display {
    display: block;
  }

  .desc {
    font-size: 15px;
  }

  .listStyle {
    font-size: 15px;
    font-weight: bold;
  }

  .inputEle {
    width: 150px;
  }

  .label {
    font-size: 15px;
  }

  .card-item-para {
    font-size: 15px;
    line-height: 25px;
  }
}